{% extends 'baseFrontproduct.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

    {% if items | length >0 %}
        <table class="table table-striped ">

            <thead>
            <a class="primary-btn pricing-btn" href="http://localhost:8000/gymfront">Keep Shopping</a>

            <tr>
                <th>Product</th>
                <th>Category </th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>

            {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price  }}</td>
                    <td></td>
                    <td><a class="primary-btn pricing-btn" href="{{ path('facture_index') }}">Generate Facture</a></td>
                </tr>
            {% endfor %}
            </tbody>


        </table>

    {% else %}
        <p>vide</p>
    {% endif %}


{% endblock %}
