<!DOCTYPE html>
<html lang="zxx">

<head>
    {% block stylesheets %}
        <meta charset="UTF-8">
        <meta name="description" content="Gym Template">
        <meta name="keywords" content="Gym, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Gymple</title>

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">



        <!-- Css Styles -->
        <link rel="stylesheet" href="{{ asset('Front/css/bootstrap.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('Front/css/font-awesome.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('Front/css/flaticon.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('Front/css/owl.carousel.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('Front/css/barfiller.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('Front/css/magnific-popup.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('Front/css/slicknav.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('Front/css/style.css') }}" type="text/css">
    {% endblock %}


</head>

<body>
{% block nav %}
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="fa fa-close"></i>
        </div>
        <div class="canvas-search search-switch">
            <i class="fa fa-search"></i>
        </div>
        <nav class="canvas-menu mobile-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Classes</a></li>
                <li><a href="#">GYMS</a></li>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Pages</a>
                    <ul class="dropdown">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Classes timetable</a></li>
                        <li><a href="#">Bmi calculate</a></li>
                        <li><a href="#">Our team</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Our blog</a></li>
                        <li><a href="#">404</a></li>
                    </ul>
                </li>

            </ul>
        </nav>

    </div>
    <!-- Offcanvas Menu Section End -->

    

    
{% endblock %}

{% block body %}


{% endblock %}
<!-- Get In Touch Section Begin -->
<div class="gettouch-section">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-mobile"></i>
                    <ul>
                        <li>72-711-811</li>
                        <li>75-668-886</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text email">
                    <i class="fa fa-envelope"></i>
                    <p>Support.gymcenter@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Get In Touch Section End -->

<!-- Footer Section Begin -->

<!-- Footer Section End -->

<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->


{% block javascripts %}

    <!-- Js Plugins -->
    <script src="{{ asset('Front/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('Front/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('Front/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('Front/js/masonry.pkgd.min.js') }}"></script>
    <script src="{{ asset('Front/js/jquery.barfiller.js') }}"></script>
    <script src="{{ asset('Front/js/jquery.slicknav.js') }}"></script>
    <script src="{{ asset('Front/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('Front/js/main.js') }}"></script>


{% endblock %}


</body>

</html>