{% extends 'base_back.html.twig' %}

{% block title %}Courses index{% endblock %}

{% block stylesheets %}
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Gymple</title>
	<!-- plugins:css -->
	<link rel="stylesheet" href="{{ asset('Back/assets/vendors/mdi/css/materialdesignicons.min.css') }}">
	<link rel="stylesheet" href="{{ asset('Back/assets/vendors/css/vendor.bundle.base.css') }}">
	<!-- endinject -->
	<!-- Plugin css for this page -->
	<link rel="stylesheet" href="{{ asset('Back/assets/vendors/jvectormap/jquery-jvectormap.css') }}"> <link rel="stylesheet" href="{{ asset('Back/assets/vendors/flag-icon-css/css/flag-icon.min.css') }}">
	<link rel="stylesheet" href="{{ asset('Back/assets/vendors/owl-carousel-2/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ asset('Back/assets/vendors/owl-carousel-2/owl.theme.default.min.css') }}">
	<!-- End plugin css for this page -->
	<!-- inject:css -->
	<!-- endinject -->
	<!-- Layout styles -->
	<link
	rel="stylesheet" href="{{ asset('Back/assets/css/style.css') }}"> <!-- End layout styles -->
	<link rel="shortcut icon" href="{{ asset('Back/assets/images/favicon.png') }}"/>

	<style>

		.pagination {
			justify-content: center;
			padding-top: 20px;
			border-top: 2px dotted #3c3a3e;
			margin-top: 11px;
		}
		.current {
			margin: 0 5px;
			border-radius: 50%;
			width: 2%;
			text-align: center;
			border: solid #3c3c3c;
		}

		.page {
			margin: 0 5px;
			border-radius: 50%;
			width: 2%;
			text-align: center;
			border: solid #3c3c3c;
		}

		.page a {
			color: white;
		}

		.previous a {
			color: white;
			margin-left: 5px;
			border-bottom: 1px solid #00d25b;
		}
		.next a {
			color: white;
			margin-right: 5px;
			border-bottom: 1px solid #00d25b;
		}

		.first a {
			color: #00d25b;
			margin-left: 5px;
			border-bottom: 1px solid #00d25b;
		}
		.last a {
			color: #00d25b;
			border-bottom: 1px solid #00d25b;
		}
	</style>

	<style>
		.form-check .form-check-label input[type="radio"] + .input-helper:before {
			border: solid #00d25b;

		}

		.form-check .form-check-label input[type="radio"]:checked + .input-helper:before {
			background-color: #00d25b;
		}

		.table thead th,
		.jsgrid .jsgrid-table thead th {
			color: #6e7178;
		}

		.table,
		.jsgrid .jsgrid-table {
			color: #ffffff;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="main-panel">
		<div class="content-wrapper">
			<div class="page-header">
				<h2>Courses management</h2>
			</div>
			<div class="row">
				<div class="col-lg-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<div style="display: flex">
								<div class="col-md-6">
                                    <h4 class="card-title">COURSES</h4>
                                </div>
                                <form method="post" class="forms-sample" style="margin-left: -2px;border-right: 2px solid #666a74;" >
                                    <div class="form-group col-md-4" style="display: flex; width: 100%!important; margin: 0px!important;">

                                        <div class="form-check">
                                            <label class="form-check-label" style="width: 68px;margin-left: -2px;margin-right: -5px;color: white;">
                                                <input style="border: solid #00d25b;" type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="email"> Date </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label" style="width: 78px;margin-left: -2px;margin-right: 10px;color: white;">
                                                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="firstname" > Category </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label" style="width: 78px;margin-left: -2px;margin-right: 10px;color: white;">
                                                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="firstname" > Address </label>
                                        </div>
                                        <button type="Submit" class="btn btn-success btn-fw">Sort</button>
                                    </div>
                                </form>
                                <a style="margin-top: 3px;" href="{{ path('app_courses_new') }}"><i style="    margin-left: 6px;border: 2px solid #ff6600;border-radius: 50%;zoom: 1.6;padding: 4px;color: #ff6600;padding-bottom: 1px;"class="mdi mdi-note-plus"></i></a>
							</div>
                            <p class="card-description">Only someone with administrative priviliges has access to this page</code>
                            </p>
                            <ul class="navbar-nav w-100">
                                <li class="nav-item w-100">
                                    
                                </li>
                            </ul>
                            <div class="table-responsive">
                                <table class="table">
									<thead>
										<tr>
											<th>Id</th>
											<th>Date</th>
											<th>StartTime</th>
											<th>EndTime</th>
											<th>Spots</th>
											<th>Category</th>
											<th>Address</th>
											<th>Trainer</th>
											<th>actions</th>
										</tr>
									</thead>
									<tbody>
										{% for course in courses %}
											<tr>
												<td><label class="badge badge-info" style="background-color: #ff6600;">{{ course.id }}</label></td>
												<td>{{ course.date ? course.date|date('Y-m-d') : '' }}</td>
												<td>{{ course.startTime ? course.startTime|date('H:i:s') : '' }}</td>
												<td>{{ course.endTime ? course.endTime|date('H:i:s') : '' }}</td>
												<td>{{ course.spots }}</td>
												<td>{{ course.category }}</td>
												<td>{{ course.address }}</td>
												<td>{{ course.trainer }}</td>
												<td style="width: 30%;">
													<a class="btn btn-outline-primary btn-fw" href="{{ path('app_courses_show', {'id': course.id}) }}">show</a>
													<a class="btn btn-outline-primary btn-fw" href="{{ path('app_courses_edit', {'id': course.id}) }}">edit</a> </br></br>
													<a class="btn btn-outline-danger btn-fw" href="{{ path('app_courses_delete', {'id': course.id , '_token' : csrf_token('delete' ~ course.id) }) }}">delete</a>
												</td>
											</tr>
										{% else %}
											<div style="display: grid;">
                                                <label style="width: 22%;margin: auto;margin-bottom: 13px;margin-top: 10px;border: 2px solid #0090e7;padding: 10px;border-radius: 20px;border-left: 2px solid red;border-right: 2px solid red;text-align: center; font-style: oblique;color: chartreuses;"> NO GYMS FOUND WITH SUCH CRITERIA</label>
                                            </div>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
