{% extends 'base.html.twig' %}

{% block title %}Courses index{% endblock %}

{% block body %}
    <h1>Courses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>Spots</th>
                <th>Category</th>
                <th>Address</th>
                <th>Trainer</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.date ? course.date|date('Y-m-d') : '' }}</td>
                <td>{{ course.startTime ? course.startTime|date('H:i:s') : '' }}</td>
                <td>{{ course.endTime ? course.endTime|date('H:i:s') : '' }}</td>
                <td>{{ course.spots }}</td>
                <td>{{ course.category }}</td>
                <td>{{ course.address }}</td>
                <td>{{ course.trainer }}</td>
                <td>
                    <a href="{{ path('app_courses_show', {'id': course.id}) }}">show</a>
                    <a href="{{ path('app_courses_edit', {'id': course.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_courses_new') }}">Create new</a>
{% endblock %}
