{% extends 'baseFront.html.twig' %}


{% block body %}
<!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a href="#">
                            <img src="{{ asset('Front/img/logo.png') }}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="nav-menu">
                        <ul>
                            <li class="active"><a href="#">Home</a></li>
                            <li><a class="nav-link" href="{{ path('gymfront') }}">GYMS</a></li>
                            <li><a href="{{path('app_gym_front')}}">Products</a></li>
                            <li ><a href="{{path('command_index')}}">Commands</a></li>
                            <li ><a class="nav-link" href="{{ path('team') }}">Our Team</a> </li>
                            <li><a  href="{{ path('editMember', {'id': app.session.get('id')}) }}">My Account</a>
                                
                            </li>
                        </ul>
                    </nav>
                </div>
                

            </div>
            <div class="canvas-open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header End -->
<!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hs-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="Front/img/hero/hero-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span>Shape your body</span>
                                <h1>Be <strong>strong</strong> traning hard</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="Front/img/hero/hero-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span>Shape your body</span>
                                <h1>Be <strong>strong</strong> traning hard</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- ChoseUs Section Begin -->

    <!-- ChoseUs Section End -->

    <!-- Classes Section Begin -->

    <!-- ChoseUs Section End -->

    

    

    
<script>alert("You have {{app.session.get('ok')}} left in your membership ")</script>


    {% endblock %}