{% extends 'baseFront.html.twig' %}


{% block body %}
<!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a href="#">
                            <img src="{{ asset('Front/img/logo.png') }}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="nav-menu">
                        <ul>
                            <li><a class="nav-link" href="{{ path('homeMember') }}">Home</a></li>
                            <li><a class="nav-link" href="{{ path('gymfront') }}">GYMS</a></li>
                            <li><a href="{{path('app_gym_front')}}">Products</a></li>
                            <li ><a href="{{path('command_index')}}">Commands</a></li>
                            <li ><a class="nav-link" href="{{ path('team') }}">Our Team</a> </li>
                            <li><a  href="{{ path('editMember', {'id': app.session.get('id')}) }}">My Account</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
            <div class="canvas-open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header End -->
<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="Front/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Our Team</h2>
                        <div class="bt-option">
                            <a href=".Front//index.html">Home</a>
                            <span>Our team</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <section class="team-section team-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-title">
                        <div class="section-title">
                            <span>Our Team</span>
                            <h2>TRAIN WITH EXPERTS</h2>
                        </div>
                        <a href="#" class="primary-btn btn-normal appoinment-btn">appointment</a>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for user in users %}
                    {% if user.role=="trainer"%}
                        <div class="col-lg-4 col-sm-6">
                            <div class="ts-item set-bg" data-setbg="Front/img/team/team-1.jpg">
                                <a class="btn btn-outline-danger btn-fw" href="{{ path('app_user_report', {'id': user.id}) }}">Report</a>
                                <div class="ts_text">
                                    <h4>{{user.firstName~" "~user.lastName}}</h4>
                                    <span>Gym Trainer</span>
                                    <span>{{user.experience}}</span>
                                    <span>{{user.description}}</span>
                                    <div class="tt_social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa  fa-envelope-o"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%  endif %}
                {%  endfor %}
            </div>
        </div>
    </section>
    <!-- Team Section End -->
{% endblock %}